@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

:root{
    --color-principal: #FF441F;
    --color-secundario:  #231942;
    --color-terciario: #f59275;
    --color-fondo: #F7F5FB;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-family: cursive;
}

h2 {
    text-align: center;
}

p{
    text-align: center;
    /*font-family: inherit;*/
    font-size: 18px;
}

a{
    text-align: center;
    font-family: cursive;
}


/*HEADER*/

.nav_header{
    position: relative;
    background: white;
    width: 100%;
    height: 61px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    /*justify-content: space-around;*/
    align-items: center;
    grid-auto-flow: column;
}

.cont-img {
    padding-top: 2px;
}
.cont-title {
    display: none;
}
.title-localfood {
    display: none;
}

.container-botones {
    /*background-color: violet;*/
    display: flex;
    justify-content: right;
    margin-right: 12px;
}

.nav_header .btn-login {
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
    padding: 6px;
    border-radius: 7px;
    background-color: #2e518b;
}
.nav_header .btn-login ~ a {
    background-color: #1dae1d;
    margin-left: 15px;
}

.nav_header__logo{
    height: 40px;
    display: flex;
    justify-content: center;
}
.nav_header__logo img {
    object-fit: cover;
    width: 50px;
    height: 38px;
}
.nav_header__login {
    position: absolute;
    top: 15px;
    right: 10px;
}

.nav{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.link{
    text-decoration: none;
    color: black;
    margin: 1% 30%;
}

.link:hover{
    color: rgb(21, 85, 196);
}

/*SECTION HERO*/

.inicio_hero {
    height: 44vh;
    width: 100%;
    padding: 10px;
    background-color: var(--color-principal);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inicio_hero__title {
    font-size: 2.5rem;
    font-family: "Roboto";
    padding: 7px;
}

.buscar {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inicio_hero__barra-busqueda {
    height: 40px;
    border-radius: 30px;
    border: none;
    padding: 0 20px;
    margin-bottom: 6px;
}

.btn-buscar {
    cursor: pointer;
    padding: 7px 23px 7px 23px;
    align-self: center;
    border-radius: 8px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
    border: #201b1b 2px solid;
    background-color:#2e518b;
}
.btn-buscar:hover {
    background-color:#e7eaf1;
    color: black;
    transition: 0.8s;
}

.inicio_hero h2 {
    font-size: 1.1rem;
    padding: 15px;
}

.inicio_hero_subtitle {
    font-family: "Roboto";
}

/*SECTION INFO*/
.inicio_info{
    background-color: wheat;
}
.inicio_info__title {
    padding: 14px 10px;
    font-size: 1.5rem;
}

.inicio_info__image {
    height: 112px;
    width: 112px;
    margin-bottom: 14px;
}

.inicio_info__button {
    border: 1px solid #2e518b; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #2e518b; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/
    height: 50px;
}

/*SECTION NEGO*/

.inicio_nego{
    height: auto;
    width: 100%;
    padding: 10px;
    background-color: var(--color-principal);
}
.inicio_text {
    font-family: "Roboto", sans-serif;
    padding-top: 7px;
}

.inicio_res__info{
    width: 189px;
    height: 184px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px solid whitesmoke;
    margin-bottom: 25px;
    border-radius: 20%;
}

.container_negocios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
}

.inicio_res__button{
    padding: 10px; /*espacio alrededor texto*/
    background-color: #2e518b; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 18px; /*bordes redondos*/
    border: #201b1b 2px solid;
    font-weight: bold;
}

.inicio_res__button:hover {
    background-color:#e7eaf1;
    color: black;
    transition: 0.8s;
}


/*SECTION conocernos*/

.inicio_regis{
    height: auto;
    width: 100%;
    padding: 13px;
    background-color: wheat;
}

.inicio_regis__title {
    margin-top: 8px;
    color: #f82510;
    font-size: 1.3rem;
}

.inicio_info__reg{
    width: 236px;
    height: 190px;
    display: flex;
    flex-direction: column;
    border-radius: 10%;
    margin: 5px;
}



.inicio_reg__boton {
 /*anchura, estilo y color borde*/
padding: 10px; /*espacio alrededor texto*/
background-color: #2e518b; /*color botón*/
color: #ffffff; /*color texto*/
text-decoration: none; /*decoración texto*/
text-transform: uppercase; /*capitalización texto*/
font-family: 'Helvetica', sans-serif; /*tipografía texto*/
border-radius: 18px; /*bordes redondos*/
border: #201b1b 2px solid;
font-weight: bold;
}

.inicio_reg__boton:hover {
    background-color:#e7eaf1;
    color: black;
    transition: 0.8s;
}


/*SECTION registro restaurante*/

.inicio_restaurant{
    height: auto;
    width: 100%;
    padding: 0px 13px;
    background-color: var(--color-principal);
}

.inicio_texto{
    font-size: 16px; 
    padding: 0px;
    text-align: center;
    color: #3c3636;
    font-weight: bold;
}

.inicio_reg__res{
    width: 226px;
    height: 187px;
    display: flex;
    flex-direction: column;
    border-radius: 10%;
    border: 5px solid whitesmoke;
}

.inicio_resta__button{
/*border: 1px solid #2e518b; /*anchura, estilo y color borde*/
padding: 10px; /*espacio alrededor texto*/
background-color: #2e518b; /*color botón*/
color: #ffffff; /*color texto*/
text-decoration: none; /*decoración texto*/
text-transform: uppercase; /*capitalización texto*/
font-family: 'Helvetica', sans-serif; /*tipografía texto*/
border-radius: 18px; /*bordes redondos*/
height: 50px;
border: #201b1b 2px solid;
font-weight: bold;
}

.inicio_resta__button:hover {
    background-color:#e7eaf1;
    color: black;
    transition: 0.8s;
}


footer .titulo-seccion{
    color: #e3272f;
}

footer .copy{
    color: #000000;
    font-size: 15px;
}

footer{
    background: #fc9c72;
}

.lugar{
    display: flex;
    justify-content: center;
}

.numero{
    display: flex;
    justify-content: center;
}

.correo{
    display: flex;
    justify-content: center;
}


.user__logo-container {
    /*position: relative;*/
    display: flex;
    justify-content: right;
    margin-right: 23px;
}

.user__logo-button {
    cursor: pointer;
    /*padding: 3px;*/
    border: none;
    /*border-radius: 14px;*/
    background-color: white;
}

.user__options {
    position: absolute;
    top: 65%;
    right: 6%;
    list-style: none;
    background-color: #241f1d;
    width: 218px;
    height: auto;
    margin-top: 5px;
}

.user__options > li {
    cursor: pointer;
    padding: 14px;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: white;
}
.user__options > li:hover {
    background-color:#2e518b;
}

@media (min-width: 414px) {

}

@media (min-width: 426px) {
    /*.nav_header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /*justify-content: space-around;
        align-items: center;
    }*/
    .cont-title {
        display: block;
    }
    .title-localfood {
        display: block;
        font-family: "Roboto", sans-serif;
        color: var(--color-principal);
        font-size: 2rem;
    }
    .nav_header__logo{
        height: 41px;
        display: flex;
        justify-content: left;
        margin-left: 5px;
        align-content: center;
    }
    .inicio_hero {
        height: 28vh;
        width: 100%;
        margin: auto;
        padding: 10px;
        background-color: var(--color-principal);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .inicio_hero h1 {
        display: none;
    }
    .inicio_hero h2 {
        font-size: 1.1rem;
    }
    .inicio_hero__barra-busqueda {
        padding: 0 60px;
    }
    .btn-buscar {
        cursor: pointer;
        padding: 10px;
        margin-right: 7px;
        margin-left: 5px;
        border-radius: 8px;
        color: white;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        border: #201b1b 2px solid;
        background-color:#2e518b;
    }
}

@media (min-width: 424px) {
    .inicio_texto {
        margin-bottom: 18px;
    }
}

@media(min-width: 471px) {
    .nav_header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /*justify-content: space-around;*/
        align-items: center;
    }
}

@media (min-width: 719px) {
    .inicio_hero {
        height: 30vh;
    }

    .inicio_hero__barra-busqueda {
        margin-top: 18px;
        padding: 0 112px;
    }

    .btn-buscar {
        font-size: 1rem;
    }

    .inicio_hero h2 {
        font-size: 1.4rem;
    }

    .inicio_info__title {
        font-size: 1.7rem;
    }
    .inicio_info__image {
        height: auto;
        width: 150px;
    }

    .inicio_nego {
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 34px;
    }

    .inicio_text {
        padding: 10px;
        font-size: 1.4rem;
        font-weight: 300;
    }
    .inicio_res__info {
        width: 240px;
        height: auto;
        margin: 8px;
    }

    .inicio_regis {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 56px;
    }
    .inicio_regis__title {
        font-size: 1.8rem;
    }
    .inicio_info__reg {
        width: 297px;
        height: auto;
    }
    .inicio_reg__boton {
        font-size: 1.2rem;
    }

    .inicio_restaurant {
        display: flex;
        align-items: center;
        height: auto;
        width: 100%;
        padding: 22px;
    }
    .inicio_reg__res {
        width: 306px;
        height: auto;
        margin: 15px;
    }
    .inicio_texto {
        font-size: 1.1rem;
        padding: 8px;
    }
    .inicio_resta__button {
        font-size: 1.1rem;
    }
}

@media(min-width: 926px) {
    .user__options {
        right: 4%;
    }
}

@media (min-width: 1000px) {
    .inicio_hero__barra-busqueda {
        padding: 25px 140px;
        margin-bottom: 15px;
    }
    .btn-buscar {
        font-size: 1.2rem;
    }
    .inicio_hero {
        height: 50vh;
    }
    .inicio_text {
        padding: 87px;
        line-height: 1.5;
    }
    .inicio_info__title {
        padding: 43px;
    }
    .inicio_info__image {
        width: 200px;
        margin: 32px;
    }
    .inicio_res__info {
        width: 255px;
    }
    .container_negocios {
        margin-right: 150px;
    }
    .inicio_info__reg {
        width: 325px;
    }
    .inicio_restaurant {
        padding: 28px;
        height: 70vh;
    }
    .inicio_texto {
        font-size: 1.3rem;
        padding: 12px 80px;
    }
    .titulo-seccion {
        font-size: 2rem;
    }
    .content span {
        font-size: 1.4rem;
    }
    .content span img {
        width: 30px;
        height: auto;
    }
    .logo-footer {
        width: 100%;
        height: auto;
    }
    .contenedor p {
        font-size: 1.2rem;
    }
    .inicio_nego {
        height: 70vh;
    }
    .inicio_regis {
        height: 70vh;
    }
    .inicio_reg__res {
        margin: 60px;
        width: 350px;
    }
}