@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

:root{
    --color-principal: #FF441F;
    --color-secundario:  #231942;
    --color-terciario: #f59275;
    --color-fondo: #F7F5FB;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-family: cursive;
}

h2 {
    text-align: center;
}

p{
    text-align: center;
    /*font-family: inherit;*/
    font-size: 18px;
}

a{
    text-align: center;
    font-family: cursive;
}


/*HEADER*/

.nav_header{
    position: relative;
    background: white;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_header .btn-login {
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
    padding: 5px;
    border-radius: 7px;
    background-color: #2e518b;
}
.nav_header .btn-login ~ a {
    background-color: #1dae1d;
}

.nav_header__logo{
    height: 50px;
}
.nav_header__logo > img {
    object-fit: cover;
}
.nav_header__login {
    position: absolute;
    top: 15px;
    right: 10px;
}

.nav{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.link{
    text-decoration: none;
    color: black;
    margin: 1% 30%;
}

.link:hover{
    color: rgb(21, 85, 196);
}

/*SECTION HERO*/

.inicio_hero {
    height: 44vh;
    width: 100%;
    padding: 10px;
    background-color: var(--color-principal);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inicio_hero__title {
    font-size: 2.5rem;
    font-family: "Roboto";
    padding: 7px;
}

.inicio_hero__barra-busqueda {
    height: 40px;
    border-radius: 30px;
    border: none;
    padding: 0 20px;
}
.inicio_hero_subtitle {
    font-family: "Roboto";
}

/*SECTION INFO*/
.inicio_info{
    background-color: wheat;
}
.inicio_info__title {
    padding: 14px 10px;
    font-size: 1.5rem;
}

.inicio_info__image {
    height: 112px;
    width: 112px;
    margin-bottom: 14px;
}

.inicio_info__button {
    border: 1px solid #2e518b; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #2e518b; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/
    height: 50px;
}

/*SECTION NEGO*/

.inicio_nego{
    height: auto;
    width: 100%;
    padding: 10px;
    background-color: var(--color-principal);
}
.inicio_text {
    font-family: "Roboto", sans-serif;
    padding-top: 7px;
}

.inicio_res__info{
    width: 189px;
    height: 184px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px solid whitesmoke;
    margin-bottom: 25px;
    border-radius: 20%;
}

.inicio_res__button{
border: 1px solid #2e518b; /*anchura, estilo y color borde*/
padding: 10px; /*espacio alrededor texto*/
background-color: #2e518b; /*color botón*/
color: #ffffff; /*color texto*/
text-decoration: none; /*decoración texto*/
text-transform: uppercase; /*capitalización texto*/
font-family: 'Helvetica', sans-serif; /*tipografía texto*/
border-radius: 50px; /*bordes redondos*/
height: 50px;
}


/*SECTION conocernos*/

.inicio_regis{
    height: auto;
    width: 100%;
    padding: 13px;
    background-color: wheat;
}

.inicio_regis__title {
    margin-top: 8px;
}

.inicio_info__reg{
    width: 236px;
    height: 190px;
    display: flex;
    flex-direction: column;
    border-radius: 10%;
    margin: 5px;
}



.inicio_reg__boton {
border: 1px solid #2e518b; /*anchura, estilo y color borde*/
padding: 10px; /*espacio alrededor texto*/
background-color: #2e518b; /*color botón*/
color: #ffffff; /*color texto*/
text-decoration: none; /*decoración texto*/
text-transform: uppercase; /*capitalización texto*/
font-family: 'Helvetica', sans-serif; /*tipografía texto*/
border-radius: 50px; /*bordes redondos*/
height: 50px;
}


/*SECTION registro restaurante*/

.inicio_restaurant{
    height: auto;
    width: 100%;
    padding: 0px 13px;
    background-color: var(--color-principal);
}

.inicio_texto{
    font-size: 16px; 
    padding: 0px;
    text-align: center;
    color: #3c3636;
    font-weight: bold;
}

.inicio_reg__res{
    width: 226px;
    height: 187px;
    display: flex;
    flex-direction: column;
    border-radius: 10%;
    border: 5px solid whitesmoke;
}

.inicio_resta__button{
border: 1px solid #2e518b; /*anchura, estilo y color borde*/
padding: 10px; /*espacio alrededor texto*/
background-color: #2e518b; /*color botón*/
color: #ffffff; /*color texto*/
text-decoration: none; /*decoración texto*/
text-transform: uppercase; /*capitalización texto*/
font-family: 'Helvetica', sans-serif; /*tipografía texto*/
border-radius: 50px; /*bordes redondos*/
height: 50px;
}


footer .titulo-seccion{
    color: #e3272f;
}

footer .copy{
    color: #000000;
    font-size: 15px;
}

footer{
    background: #fc9c72;
}

.lugar{
    display: flex;
    justify-content: center;
}

.numero{
    display: flex;
    justify-content: center;
}

.correo{
    display: flex;
    justify-content: center;
}


.user__logo-container {
    position: relative;
}

.user__logo-button {
    cursor: pointer;
    padding: 3px;
    border: black 2px solid;
    border-radius: 14px;
}

.user__options {
    position: absolute;
    top: 100%;
    right: 45%;
    list-style: none;
    background-color: #241f1d;
    width: 218px;
    height: auto;
    margin-top: 5px;
}

.user__options > li {
    cursor: pointer;
    padding: 14px;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: white;
}
.user__options > li:hover {
    background-color:#2e518b;
}

@media (min-width: 426px) {
    .inicio_hero {
        height: 44vh;
        width: 80%;
        margin: auto;
        padding: 10px;
        background-color: var(--color-principal);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 15px;
    }
}

@media (min-width: 424px) {
    .inicio_texto {
        margin-bottom: 18px;
    }
}