body {
    background-color: #FC9C72;
}
.notFound_container {
    margin: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.notFound_title {
    font-family: "Roboto", sans-serif;
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #272726;
}
.notFound_img {
    width: 200px;
    height: auto;
    margin: 30px;
}
.notFound_button {
    background: #1f53c5;
    border: #282424 2px solid;
    border-radius: 10px;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.notFound_button:hover {
    background-color:#e7eaf1;
    color: black;
    transition: 0.8s;
}