:root{
    --color-principal: #FF441F;
    --color-secundario:  #231942;
    --color-terciario: #f59275;
    --color-fondo: #F7F5FB;
    --color-cuarto: #80bd6f;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*SECTION DATOS__PLA*/

.datos__pla{
    width: 100%;
    background: #e3272f;
    padding: 34px;
    margin: auto;
    font-family: "Roboto", sans-serif;
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.datos__pla h4{
    font-size: 1.5rem;
    margin-bottom: 32px;
    text-align: center;
}

.datos__pla h3{
    font-size: 1rem;
    margin-bottom: 20px;
    margin-left: 14px;
}

.controls{
    width: 100%;
    background: wheat;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f531f;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    color: black
}

.datos__pla .botons{
    width: 100%;
    background: #1f53c5;
    border: #282424 2px solid;
    border-radius: 10px;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

@media (min-width: 400px) {
    .datos__pla {
        height: 100vh;
    }
}

@media (min-width: 600px) {
    .datos__pla {
        padding: 50px 180px;
        /*height: calc(100vh - 50px);*/
    }
}

@media(min-width: 900px) {
    .datos__pla {
        padding: 50px 320px;
        height: 100%;
    }
}

@media(width: 1024px) {
    .datos__pla {
        height: 100vh;
    }
}

@media(min-width: 1200px) {
    .datos__pla {
        padding: 50px 450px;
    }
}

@media(min-width: 1439px) {
    .datos__pla {
        padding: 50px 530px;
        height: 100vh;
    }
}
