:root{
    --color-principal: #FF441F;
    --color-secundario:  #231942;
    --color-terciario: #f59275;
    --color-fondo: #F7F5FB;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*SECTION DATOS*/

.datos{
    width: 100%;
    background: #e3272f;
    padding: 34px;
    margin: auto;
    font-family: "Roboto";
    color: white;
    /*box-shadow: 7px 13px 37px #000;*/
}

.datos h4{
    font-size: 1.4rem;
    margin-bottom: 20px;
    text-align: center;
}

.datos h3{
    font-size: 1rem;
    margin-bottom: 7px;
    margin-left: 14px;
}

.controls{
    width: 100%;
    background: wheat;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f531f;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    color: black;
    margin-top: 5px;
}

.datos p{
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.datos a{
    color: white;
    text-decoration: none;
}

.datos .botons{
    width: 100%;
    background: #1f53c5;
    border: #282424 2px solid;
    border-radius: 10px;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.datos .botons:hover {
    background-color:#e7eaf1;
    color: black;
    transition: 0.8s;
}

.campo_requerido_res{
    color: #372929;
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 12px;
}


@media(min-width: 600px) {
    .datos {
        padding: 50px 120px;
        height: 100%;
    }
}

@media(min-width: 768px) {
    .datos {
        padding: 50px 200px;
        height: 100%;
    }
}

@media(min-width: 1000px) {
    .datos {
        padding: 50px 300px;
        height: 100%;
    }
}

@media(min-height: 1300px) {
    .datos {
        height: 100vh;
    }
}

@media (min-width: 1200px) {
    .datos {
        padding: 50px 450px;
    }
}
