.my-user {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  background-color: #FF441F;
  width: 100%;
  min-height: 100vh;
}

.my-user > button {
  width: 50%;
  height: 100px;
  border-radius: 10px;
}
