/*.user {
    font-family: "Roboto", sans-serif;
    background: wheat;
    height: 100vh;
    overflow: hidden;
}
.user h1 {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    padding: 14px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 4px solid #171717;
    padding: 13px;
    margin: 13px;
    border-radius: 10%;
    background-color: #dfdcdc;
}
.info-user {
    padding-left: 10px;
    font-size: 0.9rem;
    padding-bottom: 6px;
    display: flex;
    font-weight: bold;
    color: #e3272f;
}
.info-user p {
    font-size: 0.9rem;
    padding-left: 4px;
    font-weight: normal;
    color: black;
}
.container img {
    width: 20%;
    margin-bottom: 20px;
}

@media (min-width: 600px) {
    .user h1 {
        margin: 20px 0 50px 0;
    }
    .container {
        margin: 0 93px;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .container img {
        width: 13%;
        margin-bottom: 2px;
    }
    .info-user {
        font-size: 1.1rem;
        margin-bottom: 5px;
    }
    .info-user p {
        font-size: 1.1rem;
    }
}

@media(min-width: 1200px) {
    .container {
        width: 50%;
        margin: 0 auto;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .container img {
        width: 13%;
        margin-bottom: 15px;
    }
    .info-user {
        font-size: 1.3rem;
        margin-bottom: 10px;
    }
    .info-user p {
        font-size: 1.3rem;
    }
}*/

.user-cont {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}
.user-title {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    padding: 10px;
}
.container{
    height: 450px;
    width: 300px;
    box-shadow: 0 10px 20px #000;
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    font-family: sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
}

.shape{
    background-color: #2b2828;
    height: 250px;
    width: 400px;
    margin-left: -15px;
    position: relative;
    top: -102px;
    box-shadow: 0 2px 15px #000;
    transform: rotate(25deg);
}

.image{
    height: 110px;
    width: 110px;
    /*background-image: url(./perfil.jpg);*/
    position: relative;
    top: 195px;
    margin-left: 167px;
    background-size: cover;
    border: none;
    border-radius: 25%;
    box-shadow: 0 2px 15px rgb(105, 109, 109);
    transform: rotate(-24deg);
    background-color: white;
}
.image img {
    height: 109px;
    width: 109px;
    border-radius: 25%;
}


.title{
    font-size: 15px;
    padding-bottom: 6px;
    color: #FF1744;
}

.container-info-user {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}
.info-user {
    padding-left: 63px;
    font-size: 1rem;
    padding-bottom: 10px;
    display: flex;
    font-weight: bold;
    color: #e3272f;
}
.info-user p {
    font-size: 1rem;
    padding-left: 4px;
    font-weight: normal;
    color: black;
}
.editar-user{
    padding: 8px 20px;
    margin-top: 17px;
    font-size: 1rem;
    background: #1779d0;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}