
.cont-comentarios{
    width: 100%;
    max-width: 600px;
    margin: 0  7px;
    height: auto;
    background-color: rgba(184, 170, 170, 0.7);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 30px 20px 30px 20px;
    gap: 20px;
    text-transform: capitalize;
    border-radius: 20px;
}

.comentario{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgba(184, 170, 170, 0.7);
    width: 100%;
    height: auto;
    padding: 0 0 0 20px;
    border-radius: 20px;
    color: black;
}

.comentario, .text-com, .size-text p {
    font-size: 15px;
}

.nom-user {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

.info-coment {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.info-coment p {
    margin-bottom: 5px;
}

.text-com {
    align-self: start;
}

.fecha-com {
    align-self: flex-end;
    margin-right: 12px;
    font-size: 13px;
}

.cont-add-coment {
    width: 100%;
    background-color: rgba(184, 170, 170, 0.7);
    max-width: 600px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 20px;
    margin: 10px 7px;
    padding: 10px;
}

.contenedor-agg-com{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.imagen-usuario{
    height: 90px;
    margin-left: 2px;
}

.imagen-usuario img {
    border-radius: 50%;
    width: 38px;
    height: 38px;
}

.input-com{
    max-width: 500px;
    background: none;
    width: 100%;
}

#nuevoComentario{
    outline: none;
    border: 0;
    width: 100%;
    height: 64px;
    padding: 0px 10px 0px 10px;
    font-size: 15px;
    background-color: transparent;
    color: black;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    transition-duration: 200ms;
}

#nuevoComentario::placeholder{
    color: black;
}

#nuevoComentario:focus{
    border-bottom: 2px solid red;
}

.btn-agg{
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 5px 0px 0px;
}

.btn-agg button {
    padding: 12px 20px 12px 20px;
    border-radius: 20px;
    border: 0;
    outline: none;
    font-size: 15px;
    cursor: pointer;
    background-color: #448de0;
    color: white;
    font-weight: bold;
}