.item {
	min-height: 20rem;
	/*max-width: 30rem;*/
	padding: 2rem;
}
.item img {
	height: 261px;
	width: 253px;
	pointer-events: none;
	border-radius: 16%;
	border: 6px solid #201e1d;
}
.slider {
	display: flex;
	cursor: grab;
}
.slider-container {
	margin: 0 auto;
	overflow-x: hidden;
	background-color: wheat;
}

